<!doctype html>
<html lang="en">
<head>

	<!-- Webpage Title -->
	<title>Save animal</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- JS -->		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<script>
		function save(){
			let animal_user = $('#animal-type').val();
			let count_user = $('#animal-count').val();

			$.ajax({
				type: "POST",
				url: "/animal",
				data: { animal:animal_user, count:count_user },
				success: function(response){
					alert(response['msg'])
				}
			})
		}

	</script>
</head>
<body>
	<h1>Hello, world!</h1>
	<h3>
		동물 저장페이지
	</h3>

	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">동물</span>
		</div>
		<input id="animal-type" type="text" class="form-control" placeholder="animal" aria-label="Username" aria-describedby="basic-addon1">
	</div>

	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">수</span>
		</div>
		<input id="animal-count" type="text" class="form-control" placeholder="count" aria-label="Username" aria-describedby="basic-addon1">
	</div>
	</div>

	<button onclick="save()" type="button" class="btn btn-primary">저장하기</button>

	<div class="btn-group" role="group" aria-label="Basic example">
		<button onclick="location.href='/'" type="button" class="btn btn-secondary">main</button>
	</div>
</body>
</html>